@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image: url(imagens/fundo-index.png);
    background-size: 30%;
    font-family: "Platypi", cursive;
}

header {
    background-color: #edd1a1;
    border-radius: 5px ;
    /* box-shadow: 5px 5px 8px rgba(80, 23, 23, 0.788);*/
    border: 50px;
    border-color: white;
    display: flex;
    flex-direction: column; /*Alinha os elementos um embaixo do outro*/
    align-items: center;
}

.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logotipo {
    text-align: center;
}

.title {
    color: #422709;
    margin: 0;
    font-size:38px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    text-transform: uppercase;
}

img.logo {
    width: 150px;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;
    justify-content: center;
    gap: 20px;
}

.container {
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    margin: 10px;
    width:400px;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.title-section {
    text-align: center;
}

/*Página de PÃES*/

.logotipo1 {
    width: 100px;
    height: 100px;
}

.carrinho {
    width: 50px;
    height: 50px;    
}

.list {
    display: flex;
    justify-content: space-between; /*Adiciona espaço entre os elementos da lista*/
    align-items: center;
    list-style: none;
    padding: 0;
}

#category{
    color: #844e11;
    font-size: 25px;
    width: 130px;
    text-align: center;
    border: 2px solid  white;
    background-color: #f6e6cc;
    backdrop-filter: blur(8px);
    box-shadow: 6px 6px #422709;
    font-family: "Platypi", cursive;
}

.container-product {
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    margin: 5px;
    width:350px;
}
