@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --marroncafé: #501717c9;
    --marron1: #422709;
    --creme: #edd1a1;
    --creme1: #f6cccc;
    --red: rgb(255,0,0);
}


/*PÁGINA INDEX*/

body {
    background-image: url(imagens/fundo-index2.png);
    background-size: 100%;
    font-family: "Platypi", cursive;
}

header {
    background-image: url(imagens/header12.jpg);
    background-size: 100%;
    background-position: start;
    border-radius: 8px;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 8px rgba(80, 23, 23, 0.788);
    display: flex;
    flex-direction: column; /*Alinha os elementos um embaixo do outro*/
    align-items: center;
    margin: 0;
}

.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logotipo {
    text-align: center;
}

.title {
    /*color: ;*/
    margin: 0;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 34px;
    font-style: oblique;
    text-align: center;
    text-transform: uppercase;
    color: #422709;
}

.logo {
    width: 350px;
}

.img-zoom, .container, .category, button, .carrinho{
    transition: transform 0.7s ease;
}

.img-zoom:hover, .container:hover, .category:hover, button:hover, .carrinho:hover{
    transform: scale(1.1);
}

.grade{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;
    justify-content: center;
    gap: 20px;
}

.container {
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    margin: 10px;
    width:400px;
}

.img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    /* aumentar a imagem quando passar o mouse*/
    transform-origin: center center;
    object-fit: cover;
}

.title-section {
    text-align: center;
    font-size: 30px;
    color: #422709
}

.main-footer {
    font-size: 20px;
    text-align: center;
    text-transform:uppercase;
    background-color: #edd1a1;
    padding-top: 10px;
    color: #422709;
    margin-top: 50px;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;
    list-style: none;
}
 
.weabout {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    background: transparent;
    backdrop-filter: blur(1px);
    padding: 10px;
    color: #201304;
}

.about-image {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(77, 22, 22, 0.61);
}
.about-image1 {
    float: right;
    margin-left: 10px;
    height: 400px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(77, 22, 22, 0.61);
}

.delivery {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.delivery1 {
    width: 250px;
}
.delivery2 {
    width: 180px;
}

/*Página de PÃES*/

.logotipo1 {
    width: 100px;
    height: 100px;
}

.carrinho {
    width: 50px;
    height: 50px;    
}

.list {
    display: flex;
    justify-content: space-between; /*Adiciona espaço entre os elementos da lista*/
    align-items: center;
    list-style: none;
    padding: 0;
}

.category{
    color: #844e11;
    font-size: 25px;
    width: 130px;
    text-align: center;
    border: 2px solid  white;
    background-color: #f6e6cc;
    backdrop-filter: blur(8px);
    box-shadow: 6px 6px #422709;
    font-family: "Platypi", cursive;
    cursor: pointer;
}

.container-product {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    margin: 5px;
    width:350px;
}
.container-description{
    height: 60px;
}

.add-button {
    padding-bottom: 30px;
    
}

.button {
    background: transparent;
    border: 2px solid  #422709bb;
    box-shadow: 5px 5px #422709e3;
    display: block;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Platypi", cursive;    
}

.button:hover {
    cursor: pointer;
}

.about-title {
    text-align: center;
    font-size: 34px;
    color: #422709
}

.img-doce:hover {
    transform: scale(1.01);
}

.description {
    font-size: 17px;
    text-align: center;
}
.preco {
    padding: 10px;
}

/*Sabores*/

.options {
    font-size: 17px;
    text-align: left;
    padding:15px;
    margin-left: 110px;
    height: 70px;
    padding-top: 10px;
    align-content: center;
}
.options p, .options2 p, .options4 p{
    margin: 0;
}

.options2 {
    font-size: 17px;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px;
    height: 70px;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

.options3 {
    padding-left: 60px;
    display: flex;
}

.options4 {
    font-size: 17px;
    text-align: left;
    padding: 10px;
    height: 70px;
    margin-left: 120px;
    margin-top: 10px;
}


/*PÁGINA CARRINHO*/

.payment {
    background-color:var(--creme);
    width: 100%;
}

/*TABELA CARRINHO*/

.container-cart {
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    width: 1200px;
    height: auto;
    margin-right: 100px;
}

.table-header-item {
    font-family: "Platypi", cursive;
    font-size: 22px;
    text-transform: uppercase;
    width: 400px;
}

.product, .product-preco{
    margin-left: 20px;
    text-align: center;
}

.container-quant-button {
    display: flex;
    margin-left: auto;
    align-items: center;
    
}
.cart-quant {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.quant-product {
    width: 40px;
    font-family: "Platypi", cursive;
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
    display: flex;

}
.remove-button {
    text-align: center;
    height: 30px;
    width: 100px;
    font-family: "Platypi", cursive;
    font-size: 18px;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    border: 0;
    box-shadow: 2px 2px 2px #422709;
    display: flex;
    cursor: pointer;
}


.table-total {
    font-family: "Platypi", cursive;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    
}

.container-payment {
    padding: 10px;
    background: transparent;
    border: 2px solid  white;
    backdrop-filter: blur(8px);
    box-shadow: 10px 10px #422709;
    width: 270px;
    height: auto;
}

.payment {
    border-radius: 3px;
    padding: 0px;
}

.for-payment {
    text-transform: uppercase;
    padding: 5px;
}

.purchase-button {
    text-align: center;
    font-family: "Platypi", cursive;
    font-size: 20px;
    background-color: rgb(6, 148, 6);
    color: white;
    text-transform: uppercase;
    border: 0;
    padding: 10px;
    box-shadow: 5px 5px 5px var(--marron1);
    display: flex;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.title-payment {
    text-align: center;
}

.img-payment {
    width: 100px;
}
.img-payment1 {
    width: 100px;
    padding: 10px;
}
.for-payment {
    padding: 10px;
    display: flex;
    align-items: center;
}
.grade-cart {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}











/*Aplicando MEDIA no site*/










